<div>
    <h2>Añada un nuevo empleado a la lista</h2>
    <form [formGroup]="form" (ngSubmit)="enviarEmpleado()">
        <input
            type="text"
            name="nombre"
            placeholder="Martín..."
            formControlName="nombre">

        <input
            type="text"
            name="apellido"
            placeholder="Ramirez..."
            formControlName="apellido">

        <input
            type="email"
            name="email"
            placeholder="martin98@gmail.com..."
            formControlName="email">

            <input
            type="text"
            name="telefono"
            placeholder="39872291..."
            formControlName="telefono">

        <button>Agregar Empleado</button>
    </form>
</div>