* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(20, 151, 238);
    color: white;
    border: 1px solid rgb(20, 151, 238);
    cursor: pointer;
    &:hover{
        background-color: white;
        color: rgb(20, 151, 238);
    }
}